5e_init_tracker/.eslintcache
5e_init_tracker/src/InitiativeTrackerApp/assets/monsters.json
5e_init_tracker/5e_init_tracker-win32-x64/5e_init_tracker.exe
5e_init_tracker/5e_init_tracker-win32-x64/chrome_100_percent.pak
5e_init_tracker/5e_init_tracker-win32-x64/chrome_200_percent.pak
5e_init_tracker/5e_init_tracker-win32-x64/d3dcompiler_47.dll
5e_init_tracker/5e_init_tracker-win32-x64/ffmpeg.dll
5e_init_tracker/5e_init_tracker-win32-x64/icudtl.dat
5e_init_tracker/5e_init_tracker-win32-x64/libEGL.dll
5e_init_tracker/5e_init_tracker-win32-x64/libGLESv2.dll
5e_init_tracker/5e_init_tracker-win32-x64/LICENSE
5e_init_tracker/5e_init_tracker-win32-x64/LICENSES.chromium.html
5e_init_tracker/5e_init_tracker-win32-x64/resources.pak
5e_init_tracker/5e_init_tracker-win32-x64/snapshot_blob.bin
5e_init_tracker/5e_init_tracker-win32-x64/v8_context_snapshot.bin
5e_init_tracker/5e_init_tracker-win32-x64/version
5e_init_tracker/5e_init_tracker-win32-x64/vk_swiftshader.dll
5e_init_tracker/5e_init_tracker-win32-x64/vk_swiftshader_icd.json
5e_init_tracker/5e_init_tracker-win32-x64/vulkan-1.dll
5e_init_tracker/5e_init_tracker-win32-x64/locales/am.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/ar.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/bg.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/bn.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/ca.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/cs.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/da.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/de.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/el.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/en-GB.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/en-US.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/es.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/es-419.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/et.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/fa.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/fi.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/fil.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/fr.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/gu.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/he.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/hi.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/hr.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/hu.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/id.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/it.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/ja.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/kn.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/ko.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/lt.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/lv.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/ml.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/mr.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/ms.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/nb.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/nl.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/pl.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/pt-BR.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/pt-PT.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/ro.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/ru.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/sk.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/sl.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/sr.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/sv.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/sw.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/ta.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/te.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/th.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/tr.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/uk.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/vi.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/zh-CN.pak
5e_init_tracker/5e_init_tracker-win32-x64/locales/zh-TW.pak
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/.env
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/.eslintcache
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/.gitignore
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/package.json
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/README.md
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/Electron/main.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/Electron/store.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/public/favicon.ico
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/public/index.html
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/public/logo192.png
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/public/logo512.png
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/public/manifest.json
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/public/robots.txt
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/App.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/App.test.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/index.css
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/index.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/logo.svg
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/reportWebVitals.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/setupTests.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/assets/characterClasses.json
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/assets/defaultParty.json
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/assets/demo.svg
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/assets/download.svg
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/assets/dragon.svg
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/assets/monsters.json
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/components/AppDrawer.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/components/CharacterCard.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/components/ConditionInfo.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/components/InitiativeTracker.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/components/MonsterInfo.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/components/SimpleCharacterCard.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/components/SpellInfo.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/components/Modals/AddCharacter.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/components/Modals/AddMonster.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/components/Modals/CalculateDamage.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/components/Modals/ColorSelect.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/components/Modals/ConditionPicker.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/components/Modals/CreateChar.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/components/Modals/CreateMonster.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/components/Modals/EmptyReminder.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/templates/characterTemplate.json
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/templates/monsterTemplate.json
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/InitiativeTrackerApp/utilities/MonsterTranslator.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/services/ConditionService.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/services/FileService.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/services/MonsterService.js
5e_init_tracker/5e_init_tracker-win32-x64/resources/app/src/services/SpellService.js
5e_init_tracker/5e_init_tracker-win32-x64/swiftshader/libEGL.dll
5e_init_tracker/5e_init_tracker-win32-x64/swiftshader/libGLESv2.dll
5e_init_tracker/monsters.json
